.navbar{
    background-color: rgb(167, 169, 172);
}

.azul{
    background-color: rgb(255, 255, 255);
    padding: 75px;
    margin: 20px;
}

.amarelo{
 background-color: rgb(158, 158, 158);
 padding: 75px;
 margin: 20px;
}   
